<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Item</title>
</head>
<body>
    <h2>Update Item</h2>
    <form >
        <label >Name:</label><br>
        <input type="text" name="name" value="" required><br><br>
        <label >Category:</label><br>
        <select name="category" >

        </select>
        <label >Price:</label><br>
        <input type="number" name="price" step="0.01" value="" required><br><br>
        <label >Stock Quantity</label>
        <input type="number" name="stock_qunatity" value="" required><br><br>
        <label >Image:</label><br>
        <input type="file" name="image"><br>

    </form>
    <a href="">Back to Dashboard</a>
</body>
</html>